<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
      (change)="symbolChanged()"
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <div class="multi-column">
    <mat-form-field>
      <input
        matInput
        formControlName="dateFrom"
        [matDatepicker]="dateFrom"
        [min]="minDate"
        [max]="maxDate"
        placeholder="Choose a start date"
        (dateChange)="dateChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
      <mat-datepicker #dateFrom></mat-datepicker>
      <mat-error *ngIf="dateFromControl.hasError('matDatepickerParse')">
        Please enter a valid date in MM/DD/YYYY format.
      </mat-error>
      <mat-error *ngIf="dateFromControl.hasError('matDatepickerMin')">
        Minimum from date should be
        {{ minDate | date: 'MM/dd/yyyy' }}</mat-error
      >
      <mat-error *ngIf="dateFromControl.hasError('matDatepickerMax')">
        Maximum from date should be {{ maxDate | date: 'MM/dd/yyyy' }}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="dateTo"
        [matDatepicker]="dateTo"
        [min]="minDate"
        [max]="maxDate"
        placeholder="Choose an end date"
        (dateChange)="dateChanged($event)"
      />
      <mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
      <mat-datepicker [startAt]="maxDate" #dateTo></mat-datepicker>
      <mat-error *ngIf="dateToControl.hasError('matDatepickerParse')">
        Please enter a valid date in MM/DD/YYYY format.
      </mat-error>
      <mat-error *ngIf="dateToControl.hasError('matDatepickerMin')">
        Minimum to date should be {{ minDate | date: 'MM/dd/yyyy' }}</mat-error
      >
      <mat-error *ngIf="dateToControl.hasError('matDatepickerMax')">
        Maximum to date should be {{ maxDate | date: 'MM/dd/yyyy' }}
      </mat-error>
    </mat-form-field>
  </div>
</form>

<coding-challenge-chart
  [data$]="quotes$"
  [title]="title"
></coding-challenge-chart>
